<!-- Halaman ini menampilkan hasil evaluasi setelah pengguna mengupload file csv -->
{% extends 'layout.jinja2' %}
{% block content %}
  <div id="loading-overlay" class="d-none">
    <div class="spinner"></div>
    <div>Proses ini dapat memakan waktu lama</div>
  </div>

  <header class="container my-5">
    <h1 class="text-center">Evaluasi</h1>
  </header>

  <main class="container">
    <div class="row"> <!-- score dan confusion matrix -->
      <div class="col-md-6 d-flex justify-content-center align-items-center"> <!-- score -->
        <p>
          F1 score :
          <br />
          <br />
          <br />
          Akurasi biner :
        </p>
      </div>
      <div class="col-md-6 text-center mt-3 mt-md-0"> <!-- confusion matrix -->
        <img src="{{ url_for('static', filename='images/' + confusion_matrix) }}" style="width: 100%;" alt="">
      </div>
    </div>
    <div class="row my-5"> <!-- tabel -->
      <small>Catatan: prediksi 1 adalah ulasan positif dan prediksi 0 adalah ulasan negatif</small>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center" scope="col" style="width: 5%;">#</th>
            <th class="text-center" scope="col" style="width: 50%;">Ulasan</th>
            <th class="text-center" scope="col" style="width: 50%;">Preprocessed</th>
            <th class="text-center" scope="col" style="width: 10%;">Bintang</th>
            <th class="text-center" scope="col" style="width: 10%;">Label</th>
            <th class="text-center" scope="col" style="width: 10%;">Prediksi</th>
          </tr>
        </thead>
        <tbody id="table-body">

        </tbody>
      </table>
    </div>
  </main>

  <script>
    const table_body = document.querySelector('#table-body');
    const loading_overlay = document.querySelector('#loading-overlay');

    async function get_data(url = "") {
      const response = await fetch(url, {method: "POST"});
      return response.json();
    }

    async function populate_table() {
      const data = await get_data('http://localhost:5000/hasil_upload_csv')
      console.log(data)

      for (let idx = 0; idx < Object.keys(data.content).length; ++idx) {
        const new_row = document.createElement('tr');
        new_row.innerHTML = `
              <td class="text-center" scope="row">${idx+1}</td>
              <td>${data.content[idx]}</td>
              <td>${data.preprocessed_content[idx]}</td>
              <td class="text-center">${data.score[idx]}</td>
              <td class="text-center">${data.label[idx]}</td>
              <td class="text-center">${data.predicted_label[idx]}</td>
              `;

        table_body.appendChild(new_row);
      }

      loading_overlay.classList.add('d-none')
    }

    populate_table();

  </script>
{% endblock %}