<!-- Halaman ini menampilkan hasil upload csv setelah pengguna mengupload file csv -->
{% extends 'layout.jinja2' %}
{% block content %}
  <div id="loading-overlay" class="d-none">
    <div class="spinner"></div>
    <div>Proses ini dapat memakan waktu lama</div>
  </div>

  <header class="container my-5">
    <h1 class="text-center">Upload CSV</h1>
  </header>

  <main class="container">
    <div class="row"> <!-- 10 kata terbanyak ulasan positif dan negatif -->
      <div class="col-lg-6 text-center"> <!-- 10 kata terbanyak ulasan positif -->
        <h5>10 kata terbanyak dari ulasan positif</h5>
        <img src="https://picsum.photos/400/200" alt="">
      </div>
      <div class="col-lg-6 text-center mt-3 mt-lg-0"> <!-- 10 kata terbanyak ulasan negatif -->
        <h5>10 kata terbanyak dari ulasan negatif</h5>
        <img src="https://picsum.photos/400/200" alt="">
      </div>
    </div>
    <div class="row my-5"> <!-- tabel -->
      <h5>Tabel</h5>
      <small>Catatan: prediksi 1 adalah ulasan positif dan prediksi 0 adalah ulasan negatif</small>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center" scope="col" style="width: 5%;">#</th>
            <th class="text-center" scope="col">Ulasan</th>
            <th class="text-center" scope="col" style="width: 10%;">Label</th>
            <th class="text-center" scope="col" style="width: 10%;">Prediksi</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="text-center" scope="row">1</th>
            <td>Mark</td>
            <td class="text-center">1</td>
            <td class="text-center">0</td>
          </tr>
          <tr>
            <th class="text-center" scope="row">2</th>
            <td>Jacob</td>
            <td class="text-center">0</td>
            <td class="text-center">0</td>
          </tr>
          <tr>
            <th class="text-center" scope="row">3</th>
            <td>Larry the Bird</td>
            <td class="text-center">1</td>
            <td class="text-center">0</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}